<joke-list>
  <joke [joke]="joke">
    <span class="setup">{{ joke.setup }}?</span>
    <h1 class="punchline">{{ joke.punchline }}</h1>
  </joke>
</joke-list>
<app-search></app-search>

<form class="form-inline">
  <div class="form-group">
    <input type="search" class="form-control" placeholder="Enter search string" #search>
  </div>
  <button class="btn btn-primary" (click)="doSearch(search.value)">
          Search
  </button>
  <div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let track of itunes.results">
      <img src="{{track.thumbnail}}">
      <a target="_blank" href="{{track.link}}">{{ track.name }}
    </a>
    </li>
  </ul>
</form>
